{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/material",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "mui-core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/system",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "mui-system"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/icons-material",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "mui-icons"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "lodash"
    ]
  ],
  "compact": true
}
