html {
  background: var(--mui-palette-background-default);
}
html,
body {
  min-height: 100vh;
  padding: 0 !important;
  margin: 0;
  font-family:
    'Outfit',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit/Outfit-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit/Outfit-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit/Outfit-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit/Outfit-Bold.ttf');
  font-weight: 700;
}

html b {
  color: #383838;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Outfit';
  box-sizing: border-box;

}

#__next {
  min-height: 100vh;
  position: relative;
}

:root {
  --blue_gray_800: #2b3647;
  --blue_gray_600: #2b323b;
  --blue_gray_100: #64748b;
  --secondary: #fef592;
  --dark_text_blue: rgb(62, 80, 96);

  /* Chart colors */
  --charts-primary-purple-dark: #402871;
  --charts-primary-purple-medium: #6f46be;
  --charts-primary-purple-light: #7e6f9b;
  --charts-secondary-blue-dark: #2453be;
  --charts-secondary-blue-medium: #3f6eec;
  --charts-secondary-blue-light: #6075ac;
  --charts-secondary-green-dark: #23634d;
  --charts-secondary-green-medium: #2ca079;
  --charts-secondary-green-light: #638e7f;
  --charts-secondary-pink-dark: #8d3559;
  --charts-secondary-pink-medium: #e4578d;
  --charts-secondary-pink-light: #c47f9a;

  --ds-gradient-blue: linear-gradient(90deg, rgba(186, 205, 255, 0) -500.72%, #4477fe 100%);
  --ds-gradient-pink: linear-gradient(90deg, rgba(255, 200, 221, 0) -466.67%, #f4679d 100%);
  --ds-gradient-purple: linear-gradient(90deg, rgba(237, 227, 255, 0) -657.97%, #6f46be 100%);
}

.cursor-pointer {
  cursor: pointer;
}

.icon-color {
  color: var(--icon_color);
}

table {
  border-collapse: separate !important;
}

.slick-prev:before,
.slick-next:before {
  color: #6f46be;
}
