@media (max-width: 600px) {
  table > tbody > tr,
  table > tbody > tr > td,
  table > thead > tr,
  table > thead > tr > th,
  table > tbody {
    display: block !important;
  }

  table > thead > tr > th {
    display: none !important;
  }

  table > tbody > tr > td {
    display: block !important;
  }

  table {
    display: block !important;
  }

  table > tbody > tr:not(:first-of-type) {
    margin-top: 16px;
  }

  table > tbody > tr > td {
    background: none !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  table > tbody > tr {
    background: #ffffffa8 !important;
    border-radius: 5px;
    box-shadow: 0px 0px 40px -2px rgba(0, 0, 0, 0.09);
  }
}
